/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */

.appbar {
	background-color: #dfa811;	
	display: flex;
	flex-direction: row;
	align-content: center;
	box-shadow: 0 1px 24px 0 rgba(0, 0, 0, 0.75);
	margin-bottom: 1rem;
}

.logo{
  width: 5%;
  margin: 0.5rem;
}

.subtitle{
  align-self: center;
  margin-left: 1rem;
}

/* a formação dos cards*/


.form-card{
  display:flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 35%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.75);
  border: none;
  
} 

.form-card input[type=text] {
  box-shadow: none;
  border-bottom: none;
}

.form-card-title{
  font-size: 1rem;
  margin: 1rem;
  border:none;
}

.autoresize{
  font-family: 'Roboto', sans-serif;
  font-size: auto;
  resize:none;
  border:none;
}

.card-container{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.card{
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.75);
  border: none;
  background-color: var( rgba(255, 255, 0, 0.75));
}

.btn {
  position: relative;
  display: block;
  padding: 10px 15px;
  border:none;
  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} 



